html
    head
        title="Błąd"
    style
        include ../public/stylesheets/styleMeme.css
    body
        h1="Nie ma takiego mema"
        p W naszej bazie nie ma mema o id #{id}
            
