html
    head
        title='Login'
    style
        include ../public/stylesheets/main.css
    body
        form(action='/loginDo', method='post')
            input(type='hidden', name='_csrf', value=csrfToken)
            p Logowanie
            label(for='user') Login
            input(type='text', name='user', required)
            label(for='pass') Hasło
            input(type='password', name='pass', required)
            input(type='submit', value='Zaloguj')
            